In [1]:
import pandas as pd

In [2]:
covid_df = pd.read_csv("Covid-data.csv")

In [3]:
covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71906,ZWE,Africa,Zimbabwe,2021-02-24,35960.0,50.0,76.714,1456.0,8.0,5.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71907,ZWE,Africa,Zimbabwe,2021-02-25,35994.0,34.0,64.429,1458.0,2.0,5.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71908,ZWE,Africa,Zimbabwe,2021-02-26,36044.0,50.0,47.714,1463.0,5.0,4.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71909,ZWE,Africa,Zimbabwe,2021-02-27,36058.0,14.0,41.429,1463.0,0.0,4.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71910,ZWE,Africa,Zimbabwe,2021-02-28,36089.0,31.0,41.857,1463.0,0.0,3.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [4]:
covid_cz = covid_df[covid_df["location"]=="Czechia"]

In [5]:
covid_cz

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
16864,CZE,Europe,Czechia,2020-02-02,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
16865,CZE,Europe,Czechia,2020-02-09,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
16866,CZE,Europe,Czechia,2020-02-16,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
16867,CZE,Europe,Czechia,2020-02-23,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
16868,CZE,Europe,Czechia,2020-03-01,3.0,3.0,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17228,CZE,Europe,Czechia,2021-02-24,1184352.0,15861.0,10290.000,19682.0,145.0,155.143,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
17229,CZE,Europe,Czechia,2021-02-25,1198168.0,13816.0,10702.286,19835.0,153.0,156.571,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
17230,CZE,Europe,Czechia,2021-02-26,1212780.0,14612.0,11117.571,19999.0,164.0,155.143,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
17231,CZE,Europe,Czechia,2021-02-27,1227595.0,14815.0,11610.571,20194.0,195.0,156.714,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
17232,CZE,Europe,Czechia,2021-02-28,1235480.0,7885.0,11760.143,20339.0,145.0,160.714,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9

In [6]:
covid_cz.to_csv("covid_cz_full", index=None)

In [7]:
covid_cz = pd.read_csv("covid_cz_full")

In [8]:
covid_cz

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,CZE,Europe,Czechia,2020-02-02,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
1,CZE,Europe,Czechia,2020-02-09,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
2,CZE,Europe,Czechia,2020-02-16,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
3,CZE,Europe,Czechia,2020-02-23,NaN,NaN,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
4,CZE,Europe,Czechia,2020-03-01,3.0,3.0,NaN,NaN,NaN,NaN,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,CZE,Europe,Czechia,2021-02-24,1184352.0,15861.0,10290.000,19682.0,145.0,155.143,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
365,CZE,Europe,Czechia,2021-02-25,1198168.0,13816.0,10702.286,19835.0,153.0,156.571,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
366,CZE,Europe,Czechia,2021-02-26,1212780.0,14612.0,11117.571,19999.0,164.0,155.143,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
367,CZE,Europe,Czechia,2021-02-27,1227595.0,14815.0,11610.571,20194.0,195.0,156.714,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9
368,CZE,Europe,Czechia,2021-02-28,1235480.0,7885.0,11760.143,20339.0,145.0,160.714,...,32605.906,NaN,227.485,6.82,30.5,38.3,NaN,6.63,79.38,0.9

In [9]:
covid_cz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               369 non-null    object
 1   continent                              369 non-null    object
 2   location                               369 non-null    object
 3   date                                   369 non-null    object
 4   total_cases                            365 non-null    float64
 5   new_cases                              365 non-null    float64
 6   new_cases_smoothed                     360 non-null    float64
 7   total_deaths                           344 non-null    float64
 8   new_deaths                             344 non-null    float64
 9   new_deaths_smoothed                    360 non-null    float64
 10  total_cases_per_million                365 non-null    float64
 11  new_cases_per_million                  365 non-null    float64
 12  new_cases_smoothed_per_million         360 non-null    float64
 13  total_deaths_per_million               344 non-null    float64
 14  new_deaths_per_million                 344 non-null    float64
 15  new_deaths_smoothed_per_million        360 non-null    float64
 16  reproduction_rate                      351 non-null    float64
 17  icu_patients                           358 non-null    float64
 18  icu_patients_per_million               358 non-null    float64
 19  hosp_patients                          358 non-null    float64
 20  hosp_patients_per_million              358 non-null    float64
 21  weekly_icu_admissions                  49 non-null     float64
 22  weekly_icu_admissions_per_million      49 non-null     float64
 23  weekly_hosp_admissions                 51 non-null     float64
 24  weekly_hosp_admissions_per_million     51 non-null     float64
 25  new_tests                              178 non-null    float64
 26  total_tests                            0 non-null      float64
 27  total_tests_per_thousand               0 non-null      float64
 28  new_tests_per_thousand                 178 non-null    float64
 29  new_tests_smoothed                     172 non-null    float64
 30  new_tests_smoothed_per_thousand        172 non-null    float64
 31  positive_rate                          172 non-null    float64
 32  tests_per_case                         172 non-null    float64
 33  tests_units                            178 non-null    object
 34  total_vaccinations                     64 non-null     float64
 35  people_vaccinated                      64 non-null     float64
 36  people_fully_vaccinated                43 non-null     float64
 37  new_vaccinations                       63 non-null     float64
 38  new_vaccinations_smoothed              63 non-null     float64
 39  total_vaccinations_per_hundred         64 non-null     float64
 40  people_vaccinated_per_hundred          64 non-null     float64
 41  people_fully_vaccinated_per_hundred    43 non-null     float64
 42  new_vaccinations_smoothed_per_million  63 non-null     float64
 43  stringency_index                       356 non-null    float64
 44  population                             369 non-null    float64
 45  population_density                     369 non-null    float64
 46  median_age                             369 non-null    float64
 47  aged_65_older                          369 non-null    float64
 48  aged_70_older                          369 non-null    float64
 49  gdp_per_capita                         369 non-null    float64
 50  extreme_poverty                        0 non-null      float64
 51  cardiovasc_death_rate                  369 non-null    float64
 52  diabetes_prevalence                    369 non-null    float64
 53  female_smokers                         369 non-null    float64
 54  male_smokers                           369 non-null    float64
 55  handwashing_facilities                 0 non-null      float64
 56  hospital_beds_per_thousand             369 non-null    float64
 57  life_expectancy                        369 non-null    float64
 58  human_development_index                369 non-null    float64
dtypes: float64(54), object(5)
memory usage: 170.2+ KB

In [9]:
covid_cz = covid_cz[["date", "new_cases", "new_deaths", "new_tests", "new_vaccinations"]]

In [10]:
covid_cz

           date  new_cases  new_deaths  new_tests  new_vaccinations
0    2020-02-02        NaN         NaN        NaN               NaN
1    2020-02-09        NaN         NaN        NaN               NaN
2    2020-02-16        NaN         NaN        NaN               NaN
3    2020-02-23        NaN         NaN        NaN               NaN
4    2020-03-01        3.0         NaN        NaN               NaN
..          ...        ...         ...        ...               ...
364  2021-02-24    15861.0       145.0    91299.0           19207.0
365  2021-02-25    13816.0       153.0    85033.0           22224.0
366  2021-02-26    14612.0       164.0        NaN           19039.0
367  2021-02-27    14815.0       195.0        NaN            3313.0
368  2021-02-28     7885.0       145.0        NaN            2608.0

[369 rows x 5 columns]

In [13]:
covid_cz.at["date", "2020-06-20"] = -148

/home/adam/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3281: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[index, col] = value

In [12]:
covid_cz.to_csv("covid_cz", index=None)